<div id='paypal-adaptive-warning' style="display:none">
  <strong><%= Spree.t('no_payment_via_admin_backend', :scope => 'paypal_adaptive') %></strong>
</div>
<script>
  SpreePaypalAdaptive.paymentMethodID = "<%= payment_method.id %>"
</script>